@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://github.com/tolu9660/DVI/blob/99160f3ed6ac6c0c99f5be04b6e44be7c788212d/assets/backgrounds/ladrillos.jpg);

body{
 /* background-image: url("./assets/backgrounds/ladrillos.jpg");*/
  
    background-image: url(https://github.com/tolu9660/DVI/blob/99160f3ed6ac6c0c99f5be04b6e44be7c788212d/assets/backgrounds/ladrillos.jpg);
}

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #0a2e9c; /*#4D163D*/
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #1e2088;/*#840037*/
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: #0d00bd;/*#BD0034*/
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #3f7df0;/*#BD0034*/
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #31defd;/*#FDB731*/
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}



#titulo {
  /*font-size: 250%;
  text-align: center;
  color:black;
  font-family: 'Monaco', monospace;*/
  /*position: absolute;
  top: 50px;*/
}
#historia{
  position: absolute;
  top: 700px;
  left: 170px;
  max-width: 1000px;
}
 #historia h2{
  /*text-align: center;*/
  font-size: 200%;
  color: black;
}
#historia p{
  /*text-align: center;*/
}

#controles{
  position: absolute;
  top: 850px;
  left: 170px;
  max-width: 1000px;
}

#controles h2{
  font-size: 200%;
  color: black;
}



